.column {
  float: left;
  width: 275px;
  padding-right: 30px;
}

.img-circle {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.intro {
  padding-bottom: 30px;
}

body {
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  font-family: helvetica;
  text-transform: uppercase;
}

h2 {
  font-family: helvetica;
}

h3 {
  font-family: helvetica;
}

h4 {
  font-family: helvetica;
  font-style: italic;
}

p {
  font-family: helvetica;
}
